[run]
source=src/souschef
omit =
    .cache/*
    */tests/*
    docs/*
    .pytest_cache/*
    setup.py
    _version.py
    souschef.egg-info/*
    .github/*
    __init__.py
    souschef/__init__.py
    src/souschef/__init__.py

[paths]
source = src/souschef
